body {
  background-image: url('img/fullscreenbgillidan3.png');
  background-repeat: no-repeat;
  background-position: center top;
}
#main {
  background-color: rgba(50,50,50,.5);
  margin-top: 50px;
}
.tagline img {
  width: 90%;
}
.box1 img {
  width: 100%;
}/*
.tagline h1 {
  margin-top: 12%;
}
.tagline img {
  margin-top: 5%;
}*/
.panel-title {
  font-size: 26px;
}
.panel-heading {
  margin-bottom: 0px;
}
.img-con {
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.button {
  position: absolute;
  left:0;
  top: 0;
  margin-top: 45%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  text-align: center;
  z-index: 1;
}
.img-con:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.img-con:hover .button {
  opacity: 1;
}
<<<<<<< HEAD
@media (max-width: 768px) {
=======
@media (max-width: 612px) {
  .box1 img {
    width: 75%;
  }
}
