body {
  background-image: url('img/fullscreenbgillidan.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
#main {
  background-color: rgba(50,50,50,.4);
}
.page-header img {
  margin-top: -150px;
}
